body {
  position: relative;
  min-height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

a {
  transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  transition: all 0.5s ease;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 16px 0;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
  border-right: 1px solid rgb(237, 236, 236);
}

.sidebar-brand h2 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}

.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 13px;
}

.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: black;
  background: #f8f8f8;
}

.sidebar-nav > li > a i.fa {
  font-size: 18px;
  width: 60px;
}

#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}

#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -250px;
}

#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}

#navbar-wrapper .navbar a {
  color: #757575;
}

#navbar-wrapper .navbar a:hover {
  color: #F8BE12;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 197px;
  }
  #wrapper.toggled {
    padding-left: 60px;
  }
  #sidebar-wrapper {
    width: 197px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }
  #navbar-wrapper {
    position: relative;
  }
  #wrapper.toggled {
    padding-left: 60px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }
  #sidebar-wrapper {
    width: 60px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #navbar-wrapper {
    position: relative;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #navbar-wrapper {
    position: relative;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
#navbar-wrapper .navbar > .nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #1A237E;
  height: 0;
  transition: all 0.3s ease-in;
  top: 40px;
  left: 0;
  overflow: hidden;
}

#navbar-wrapper .navbar .nav-list > li {
  width: 100%;
  margin-top: 1.5rem;
}

#navbar-wrapper .navbar .nav-list {
  display: flex;
  gap: 2rem;
  font-size: 14px;
  right: 5px;
  position: absolute;
}

#navbar-wrapper .navbar .nav-list > li {
  list-style-type: none;
}

#navbar-wrapper .navbar .nav-list > li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.texts-dark {
  color: black !important;
}

.texts-muted {
  color: rgba(159, 165, 171, 0.75);
}

.image-container {
  position: relative;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  padding: 10px;
}

.card {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
}

.clickable-tile {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.clicked {
  background-color: #4350e7 !important;
  color: white !important;
}

.margin-time {
  margin-left: 22rem;
}

@media (max-width: 768px) {
  .margin-time {
    margin-left: 13rem;
  }
}
.p-font {
  font-size: 12px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.avatar-icon-container {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-icon {
  color: #ffffff;
  font-weight: bold;
}

.custom-border {
  border-bottom: 1px solid #9da79d;
}

.transparent-search-box {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: black !important;
}

/* Add custom styles for the search icon */
.search-icon {
  color: white;
}

.card-font {
  font-size: 11px;
}

.left-font {
  font-size: 13px;
  font-weight: 500;
  color: #242a33;
}/*# sourceMappingURL=styles.css.map */